# import library

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
RiyadhVillas= pd.read_csv("RiyadhVillasAqar.csv")
RiyadhVillas

/var/folders/n8/r2m8scgs7nz1tssk9k6d_vlh0000gn/T/ipykernel_72739/2855787133.py:1: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  RiyadhVillas= pd.read_csv("RiyadhVillasAqar.csv")

,Unnamed: 0,front,rooms,lounges,bathrooms,streetWidth,stairs,propertyAge,driverRoom,tent,...,apartments,maidRoom,elevator,furnihsed,pool,basement,neighbourhood,location,price,square price
0,0,شرقية,5,4.0,5+,20.0,1.0,0.0,1.0,1.0,...,0,0.0,0.0,0.0,0.0,0.0,عكاظ,جنوب الرياض,1050000.0,3500.000000
1,1,غربية,4,3.0,5+,20.0,1.0,0.0,1.0,1.0,...,2.0,1.0,1.0,0.0,0.0,0.0,المهدية,غرب الرياض,3000000.0,5555.555556
2,2,جنوبية شرقية,7,2.0,5+,15.0,1.0,31.0,1.0,0.0,...,0,1.0,0.0,0.0,0.0,0.0,الشفا,جنوب الرياض,2000000.0,2285.714286
3,3,غربية,7,3.0,5+,15.0,1.0,3.0,0.0,1.0,...,0,1.0,0.0,1.0,0.0,0.0,ظهرة لبن,غرب الرياض,894000.0,4470.000000
4,4,شمالية,4,2.0,4,25.0,1.0,0.0,1.0,1.0,...,3.0,1.0,1.0,1.0,0.0,0.0,قرطبة,شرق الرياض,3500000.0,8750.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46821,51840,جنوبية,5,2,5+,20.0,1.0,0.0,0.0,1.0,...,1.0,1.0,1.0,0.0,0.0,0.0,المونسية,شرق الرياض,2250000.0,5844.155844
46822,51841,غربية,7,2,5+,12.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,ظهرة البديعة,غرب الرياض,1050000.0,2100.000000
46823,51842,غربية,5,3,5+,20.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,طويق,غرب الرياض,1000000.0,5000.000000
46824,51843,جنوبية غربية,1,NaN,1,15.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,النهضة,شرق الرياض,2300000.0,5679.012346
46825,51844,شمالية,6,2,5+,15.0,1.0,0.0,0.0,1.0,...,2.0,1.0,0.0,0.0,0.0,0.0,المونسية,شرق الرياض,4100000.0,5466.666667

## EDA

In [8]:
#Apply the essential EDA steps: head, shape, info, describe, and missing values.
RiyadhVillas.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46826 entries, 0 to 46825
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     46826 non-null  int64
 1   front          46826 non-null  object
 2   rooms          46826 non-null  int64
 3   lounges        45708 non-null  object
 4   bathrooms      46826 non-null  object
 5   streetWidth    46636 non-null  float64
 6   stairs         46826 non-null  float64
 7   propertyAge    46826 non-null  float64
 8   driverRoom     46826 non-null  float64
 9   tent           46826 non-null  float64
 10  patio          46826 non-null  float64
 11  kitchen        46826 non-null  float64
 12  outdoorRoom    46826 non-null  float64
 13  garage         46826 non-null  float64
 14  duplex         46826 non-null  float64
 15  space          46826 non-null  int64
 16  apartments     46826 non-null  object
 17  maidRoom       46826 non-null  float64
 18  elevator       46826 non-null  float64
 19  furnihsed      46826 non-null  float64
 20  pool           46826 non-null  float64
 21  basement       46826 non-null  float64
 22  neighbourhood  46826 non-null  object
 23  location       46826 non-null  object
 24  price          46824 non-null  float64
 25  square price   46824 non-null  float64
dtypes: float64(17), int64(3), object(6)
memory usage: 9.3+ MB

In [13]:
RiyadhVillas.shape

(46826, 26)

In [14]:
RiyadhVillas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46826 entries, 0 to 46825
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     46826 non-null  int64
 1   front          46826 non-null  object
 2   rooms          46826 non-null  int64
 3   lounges        45708 non-null  object
 4   bathrooms      46826 non-null  object
 5   streetWidth    46636 non-null  float64
 6   stairs         46826 non-null  float64
 7   propertyAge    46826 non-null  float64
 8   driverRoom     46826 non-null  float64
 9   tent           46826 non-null  float64
 10  patio          46826 non-null  float64
 11  kitchen        46826 non-null  float64
 12  outdoorRoom    46826 non-null  float64
 13  garage         46826 non-null  float64
 14  duplex         46826 non-null  float64
 15  space          46826 non-null  int64
 16  apartments     46826 non-null  object
 17  maidRoom       46826 non-null  float64
 18  elevator       46826 non-null  float64
 19  furnihsed      46826 non-null  float64
 20  pool           46826 non-null  float64
 21  basement       46826 non-null  float64
 22  neighbourhood  46826 non-null  object
 23  location       46826 non-null  object
 24  price          46824 non-null  float64
 25  square price   46824 non-null  float64
dtypes: float64(17), int64(3), object(6)
memory usage: 9.3+ MB

In [16]:
RiyadhVillas.describe(include ="all")

,Unnamed: 0,front,rooms,lounges,bathrooms,streetWidth,stairs,propertyAge,driverRoom,tent,...,apartments,maidRoom,elevator,furnihsed,pool,basement,neighbourhood,location,price,square price
count,46826.000000,46826,46826.000000,45708,46826,46636.000000,46826.000000,46826.000000,46826.000000,46826.000000,...,46826,46826.000000,46826.000000,46826.000000,46826.000000,46826.000000,46826,46826,4.682400e+04,46824.000000
unique,NaN,10,NaN,11,5,NaN,NaN,NaN,NaN,NaN,...,44,NaN,NaN,NaN,NaN,NaN,295,5,NaN,NaN
top,NaN,شمالية,NaN,2,5+,NaN,NaN,NaN,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,طويق,غرب الرياض,NaN,NaN
freq,NaN,12160,NaN,15418,32371,NaN,NaN,NaN,NaN,NaN,...,18946,NaN,NaN,NaN,NaN,NaN,7775,13548,NaN,NaN
mean,25915.132384,NaN,4.687439,NaN,NaN,18.158418,0.683979,2.454790,0.355871,0.466258,...,NaN,0.767821,0.235745,0.078738,0.116410,0.037671,NaN,NaN,2.347636e+06,6088.058800
std,14993.821359,NaN,1.104970,NaN,NaN,4.167866,0.464926,6.496833,0.478781,0.498866,...,NaN,0.422227,0.424468,0.269333,0.320719,0.190402,NaN,NaN,2.782053e+06,4515.845244
min,0.000000,NaN,1.000000,NaN,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,...,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,1.080000e+03,3.428571
25%,12925.250000,NaN,4.000000,NaN,NaN,15.000000,0.000000,0.000000,0.000000,0.000000,...,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,1.180000e+06,3866.666667
50%,25836.500000,NaN,5.000000,NaN,NaN,20.000000,1.000000,0.000000,0.000000,0.000000,...,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,1.600000e+06,5000.000000
75%,38917.750000,NaN,5.000000,NaN,NaN,20.000000,1.000000,0.000000,1.000000,1.000000,...,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,2.600000e+06,7600.000000
max,51844.000000,NaN,7.000000,NaN,NaN,100.000000,1.000000,35.000000,1.000000,1.000000,...,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,NaN,1.000000e+08,136144.578313

In [10]:
RiyadhVillas.isnull().sum()

Unnamed: 0          0
front               0
rooms               0
lounges          1118
bathrooms           0
streetWidth       190
stairs              0
propertyAge         0
driverRoom          0
tent                0
patio               0
kitchen             0
outdoorRoom         0
garage              0
duplex              0
space               0
apartments          0
maidRoom            0
elevator            0
furnihsed           0
pool                0
basement            0
neighbourhood       0
location            0
price               2
square price        2
dtype: int64

In [19]:
RiyadhVillas['neighbourhood'].unique()
#توجد اسماء احياء غير مفهومة قد تكون مشكلة في إدخال البيانات

array([' عكاظ ', ' المهدية ', ' الشفا ', ' ظهرة لبن ', ' قرطبة ',
       ' السويدي ', ' الروضة ', ' القادسية ', ' بدر ',
       ' المدينة الصناعية الجديدة ', ' الجنادرية ', ' الفاخرية ',
       ' الشرق ', ' العارض ', ' الدار البيضاء ', ' الحمراء ', ' طويق ',
       ' احد ', ' النهضة ', ' الخليج ', ' اشبيلية ', ' الملك فيصل ',
       ' النسيم الغربي ', ' الرمال ', ' حطين ', ' الريان ', ' النرجس ',
       ' الحزم ', ' السلام ', ' طيبة ', 'ان مولى قريش ', ' الصحافة ',
       ' العزيزية ', ' الفلاح ', ' الملقا ', ' الرحمانية ', ' النرجس',
       ' الندوة ', ' نمار ', ' ديراب ', ' المعيزيلة ', ' ظهرة نمار ',
       ' مطار الملك خالد الدولي ', ' الغدير ', 'ه بن خليفه ',
       ' القيروان ', ' العوالي ', ' المونسية ', ' العريجاء الغربية ',
       'ى العصامي ', ' الياسمين ', ' أم الحمام الغربي ', 'ة نمار ',
       ' الربوة ', ' الملك فهد ', ' النخيل ', ' اليمامة ', ' اليرموك ',
       ' الدريهمية ', ' ظهرة البديعة ', 'ى الفرضي ', 'ى بن مسعود ',
       ' عريض ', ' النفل ', ' الاندلس ', ' المعذر ', ' الزهرة ',
       ' السلي ', ' البيان ', ' الندى ', ' الخير ', ' الروابي ',
       ' العقيق ', 'م بن عساكر ', ' سلطانة ', ' السعادة ', ' الجزيرة ',
       'م قاضي ', ' الواحة ', ' العليا ', ' المروة ', 'ان بن عبدالله ',
       ' السويدي الغربي ', ' غرناطة ', ' الازدهار ', ' السليمانية ',
       ' عرقة ', 'ي الدين البغوي ', ' الفاروق ', 'ى السديد ',
       ' الفيصلية ', ' الرمال', ' النسيم الشرقي ', ' الفيحاء ', ' الملز ',
       ' الانسي ', ' شبرا ', ' الربيع ', ' غبيرة ', 'ة ', ' عليشة ',
       'ده بن معاويه ', ' الحائر ', ' النظيم ', ' المنار ',
       ' صلاح الدين ', ' الورود ', 'ة بن خليفة الكلبي ', ' أحد ',
       ' الرائد ', 'م بن الفرس ', ' المنصورة ', ' الهدا ', ' المربع ',
       ' المصيف ', ' القدس ', 'مي ', ' الخزامى ', ' منفوحة الجديدة ',
       ' المرسلات ', ' النزهة ', ' العريجاء الوسطى ', 'ى بن عبيد ',
       ' بدر', ' التعاون ', ' عتيقة ', 'ط ', ' ابو خضير ', 'د ',
       ' القيروان', 'ى بن جزلة ', 'ى المعلمي ', ' عكاظ', 'م الحريمي ',
       ' المنصورية ', 'ى بن ابراهيم الطالبي ', ' الوادي ', ' أحمد السف ',
       'م الكناني ', ' اسكان وزارة الداخلية ', 'صن ', ' المحمدية ',
       'رات ', 'ى الأزدي ', 'ى ', 'مية ', 'ى الطبري ', 'ه ', ' المروج ',
       ' المغرزات ', 'ى الطائي ', 'ى السعدي ', ' خشم العان ',
       'م بن القابلة ', 'ى المدني ', ' الحزم', ' عقرباء ', 'ى المفتي ',
       ' بن عمر الملتوني ', ' كمال ', 'ى بن عدى ', 'ى الانباري ',
       'ى مؤذن ', 'ى بن اكثم ', ' الوشام ', 'سيه ', ' هجرة لبن ',
       ' الكتاني ', ' البديعة ', 'ي بن عدي ', ' الشهداء ', ' المرقب ',
       'ى بن عبدالله ', 'ى بن خالد البرمكي ', 'ى بن البناء ',
       'ى الواسطي ', 'ري ', ' الملك عبدالله ', ' الغنامية ',
       'ى الصنهاجي ', ' الخالدية ', ' الضباط ', 'ى بن يى القرطبي ',
       'ى بن محمد الغرناطي ', ' السلمانية ', 'م ', ' المصانع ', 'اني ',
       'ى بن قزعة القرشي ', ' لبن ', 'ى الذماري ', 'اه ',
       'ى بن عبدالعزيز ', ' الشرفية ', 'ى الجفصي ', ' الاسكان ', 'ان ',
       'ى بن أبي بكر ', 'ى الوراق ', 'ى الزبيدي ', 'ى السلمي ', 'ل ',
       'وة بن شريح ', ' منفوحة ', ' الرفيعة ', 'ى بن القاسم ', ' الصفا ',
       ' العمل ', 'سية ', 'اء ', ' جرير ', ' الزهراء ', 'ى الكوفي ',
       ' المعذر الشمالي ', 'ى محمد الب ', 'ي الدين النيسابوري ',
       'م المغربي ', 'ميات ', 'ي بن محمد الغرناطي ', 'ذيف ', ' البرية ',
       'فات ', 'ى الشاذلي ', 'رة ', 'ى الطالبي ', 'اء البغدادية ',
       'ى - الجبيلة ', 'ى الطائفي ', 'ى بن عبدالرحمن ', 'ى بن إسماعيل ',
       'ى بن قاسم ', ' لقاح', 'ى الانسي ', 'ى التيمي ', 'دره التونسي ',
       ' ثليم ', 'باني ', ' ام سليم ', ' المعيزلة ', 'ف العنبري ', 'ون ',
       'ى الرازي ', 'ى بن بكير ', ' العود ', ' العريجاء الغربي ',
       'ى بن المقداد ', 'ى الغرناطي ', 'درة بن علي ', ' أبي خضير ',
       ' أم الحمام الشرقي ', 'ى بن خلدون ', ' المونسية', ' المعذر',
       'ى القفصي ', 'مد ', ' المدينة الصناعية الثانية ', 'ى الأنسي ',
       'رة فان ', 'ى محمد يى الش ', 'ن ', 'رة النوبة ',
       ' الملك عبدالعزيز ', ' المجد', 'م الصديقي ', 'ى بن صديق ',
       ' العريجاء ', ' رفه ', 'اض بن قيس بن الأعور ', 'ى بن عميرة ',
       ' المناخ ', ' بنبان ', 'ي بن خالد البرمكي ', ' الوزارات ',
       ' الجرداء', 'ى التنوخي ', 'ى بن غيهب ', ' السدوسي ', 'ى امان ',
       'ى البرمكي ', 'م الخزرجي ', ' ام الشعال ', ' قرطبة',
       ' محمد سحاري ', 'ويه ', 'مة ', 'ى الانطاكي ', 'ي بن المبارك ',
       'وس ', 'ى الغماري ', ' الجرادية ', ' الربيع الشرقي ٢ ', ' التقوى ',
       'فا ', 'ا ', 'اص '], dtype=object)

In [20]:
RiyadhVillas['lounges'].unique()

array(['4.0', '3.0', '2.0', '5.0', '1.0', nan, '3', '2', '1', '5', '4',
       '7+'], dtype=object)